.image {
    border-radius: 50%;
}

.userCard {
    width: 20rem;
    margin-top: 2rem;
    background-color: rgba(80, 221, 240, 0.5);
}

.deleteButton {
    margin: 0;
    width: 100%;
}

.userPageTab {
    background-color: white;
    border-radius: 10px;
    margin-top: 1rem;
}

.fixedPosition {
    position: fixed;
}

@media (max-width: 768px) {
    .fixedPosition {
        position:relative;
    }
    .userCard {
        width: 100%;
    }
}